body{
    font-family: 'Montserrat', sans-serif;
}
.sidebar{
    background-color: #0571b9;
    width: 260px;
}
#header.navbar>.navbar-header{
    background-color: #0571b9;
}
.sidebar.sidebar-left {
    left: -260px;
}
.page-title .title {
    color: #2E3254;
    font-size: 17px;
    line-height: 34px;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
}
.panel-success>.panel-heading{
    background-color: #0571b9;
    border-color: #0571b9;
}

.btn-success{
    background-color: #0571b9;
    border-color: #0571b9;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #094369;
    border-color: #094369;
}
.table>thead>tr>th, .table tr>th{
	background-color: #273239;
}
.modal-header {
    background-color: #2196F3;
}
.sidebar .topmenu li a{
    font-size: 13px;
}
@media (min-width: 992px){
    .sidebar.sidebar-menu+#main {
        padding-left: 260px;
    }
    #header.navbar>.navbar-toolbar{
        margin-left: 260px;
    }
}