


/*
  Template Name: PowerNode - Multi-Purpose Landing Page with Page Builder
  Theme URL: https://themeforest.net/user/dsathemes
  Description: PowerNode - Multi-Purpose Landing Page with Page Builder
  Author: DSAThemes
  Author URL: https://themeforest.net/user/dsathemes
  Version: 1.0.0
  Website: www.dsathemes.com
  Tags: Landing Page, Multipurpose Landing page, Html5, Css, Bootstrap, Javascript, Startup Landing page responsive, creative template, html5 template, one page, business, corporate, mobile app, project
*/



/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */

/*   01 - General & Basic Styles   */
/*   02 - Typography               */
/*   03 - Preload Animation	       */
/*   04 - Header & Navigation      */
/*   05 - Intro      			   */
/*   06 - Animated Progress Bar    */
/*   07 - Process			   	   */
/*   08 - About				   	   */
/*   09 - Promo				   	   */
/*   10 - Services				   */
/*   11 - Content			   	   */
/*   12 - Tabs					   */
/*   13 - Statistic Banner	   	   */
/*   14 - Portfolio        		   */
/*   15 - Pricing				   */
/*   16 - Team				   	   */
/*   17 - Banner			   	   */
/*   18 - Blog	         		   */
/*   19 - FAQs				 	   */
/*   20 - Testimonials		   	   */
/*   21 - Clients			 	   */
/*   22 - Newsletter		   	   */
/*   23 - Call To Action	   	   */
/*   24 - Google Map		   	   */
/*   25 - Contacts		 	  	   */
/*   26 - Footer		 	  	   */
/*   27 - Scroll To Top	 	  	   */



/* ==========================================================================
   01. GENERAL & BASIC STYLES
   ========================================================================== */
   
html {
	-webkit-font-smoothing: antialiased;
} 
 
body {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 15px; 
	line-height: 24px;
	font-weight: 300;	
}

/*------------------------------------------------------------------*/
/*   IE10 in Windows 8 and Windows Phone 8 Bug fix
/*-----------------------------------------------------------------*/

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

/*------------------------------------------*/
/*	PAGE CONTENT
/*------------------------------------------*/

.page-content, section { overflow: hidden; } 

/*------------------------------------------*/
/*	ONSCROLL ANIMATIONS
/*------------------------------------------*/

.animated { visibility: hidden; }
.visible { visibility: visible; }  

/*------------------------------------------*/
/*	SPACING & ALIGNMENT FOR DEMOS
/*------------------------------------------*/

.wide-160 { padding-top: 160px; padding-bottom: 160px; }
.wide-150 { padding-top: 150px; padding-bottom: 150px; }
.wide-140 { padding-top: 140px; padding-bottom: 140px; }
.wide-130 { padding-top: 130px; padding-bottom: 130px; }
.wide-120 { padding-top: 120px; padding-bottom: 120px; }
.wide-110 { padding-top: 110px; padding-bottom: 110px; }
.wide-100 { padding-top: 100px; padding-bottom: 100px; }
.wide-90 { padding-top: 100px; padding-bottom: 90px; }
.wide-80 { padding-top: 100px; padding-bottom: 80px; }
.wide-70 { padding-top: 100px; padding-bottom: 70px; }
.wide-60 { padding-top: 100px; padding-bottom: 60px; }
.wide-50 { padding-top: 100px; padding-bottom: 50px; }
.wide-40 { padding-top: 100px; padding-bottom: 40px; }
.wide-30 { padding-top: 100px; padding-bottom: 30px; }
.wide-20 { padding-top: 100px; padding-bottom: 20px; }
.wide-10 { padding-top: 100px; padding-bottom: 10px; }

/*------------------------------------------*/
/*    Padding Top
/*------------------------------------------*/

.p-top-120 { padding-top: 120px; }
.p-top-110 { padding-top: 110px; }
.p-top-100 { padding-top: 100px; }
.p-top-90 { padding-top: 90px; }
.p-top-80 { padding-top: 80px; }
.p-top-70 { padding-top: 70px; }
.p-top-60 { padding-top: 60px; }
.p-top-50 { padding-top: 50px; }
.p-top-40 { padding-top: 40px; }
.p-top-30 { padding-top: 30px; }
.p-top-25 { padding-top: 25px; }
.p-top-20 { padding-top: 20px; }
.p-top-15 { padding-top: 15px; }
.p-top-10 { padding-top: 10px; }

/*------------------------------------------*/
/*    Padding Bottom
/*------------------------------------------*/

.p-bottom-120 { padding-bottom: 120px; }
.p-bottom-110 { padding-bottom: 110px; }
.p-bottom-100 { padding-bottom: 100px; }
.p-bottom-90 { padding-bottom: 90px; }
.p-bottom-80 { padding-bottom: 80px; }
.p-bottom-70 { padding-bottom: 70px; }
.p-bottom-60 { padding-bottom: 60px; }
.p-bottom-50 { padding-bottom: 50px; }
.p-bottom-40 { padding-bottom: 40px; }
.p-bottom-30 { padding-bottom: 30px; }
.p-bottom-25 { padding-bottom: 25px; }
.p-bottom-20 { padding-bottom: 20px; }
.p-bottom-15 { padding-bottom: 15px; }
.p-bottom-10 { padding-bottom: 10px; }
.p-bottom-0 { padding-bottom: 0; }

/*------------------------------------------*/
/*    Padding Left
/*------------------------------------------*/

.p-left-60 { padding-left: 60px; }
.p-left-45 { padding-left: 45px; }
.p-left-30 { padding-left: 30px; }
.p-left-25 { padding-left: 25px; }
.p-left-20 { padding-left: 20px; }
.p-left-15 { padding-left: 15px; }
.p-left-10 { padding-left: 10px; }

/*------------------------------------------*/
/*    Padding Right
/*------------------------------------------*/

.p-right-60 { padding-right: 60px; }
.p-right-45 { padding-right: 45px; }
.p-right-30 { padding-right: 30px; }
.p-right-25 { padding-right: 25px; }
.p-right-20 { padding-right: 20px; }
.p-right-15 { padding-right: 15px; }
.p-right-10 { padding-right: 10px; }

/*------------------------------------------*/
/*    Margin Top
/*------------------------------------------*/

.m-top-120 { margin-top: 120px; }
.m-top-110 { margin-top: 110px; }
.m-top-100 { margin-top: 100px; }
.m-top-90 { margin-top: 90px; }
.m-top-80 { margin-top: 80px; }
.m-top-70 { margin-top: 70px; }
.m-top-60 { margin-top: 60px; }
.m-top-50 { margin-top: 50px; }
.m-top-40 { margin-top: 40px; }
.m-top-35 { margin-top: 35px; }
.m-top-30 { margin-top: 30px; }
.m-top-25 { margin-top: 25px; }
.m-top-20 { margin-top: 20px; }
.m-top-15 { margin-top: 15px; }
.m-top-10 { margin-top: 10px; }
.m-top-5 { margin-top: 5px; }

/*------------------------------------------*/
/*    Margin Bottom
/*------------------------------------------*/

.m-bottom-120 { margin-bottom: 120px; }
.m-bottom-110 { margin-bottom: 110px; }
.m-bottom-100 { margin-bottom: 100px; }
.m-bottom-90 { margin-bottom: 90px; }
.m-bottom-80 { margin-bottom: 80px; }
.m-bottom-70 { margin-bottom: 70px; }
.m-bottom-60 { margin-bottom: 60px; }
.m-bottom-50 { margin-bottom: 50px; }
.m-bottom-40 { margin-bottom: 40px; }
.m-bottom-35 { margin-bottom: 35px; }
.m-bottom-30 { margin-bottom: 30px; }
.m-bottom-25 { margin-bottom: 25px; }
.m-bottom-20 { margin-bottom: 20px; }
.m-bottom-15 { margin-bottom: 15px; }
.m-bottom-10 { margin-bottom: 10px; }
.m-bottom-5 { margin-bottom: 5px; }
.m-bottom-0 { margin-bottom: 0; }

/*------------------------------------------*/
/*    Margin Left
/*------------------------------------------*/

.m-left-100 { margin-left: 100px; }
.m-left-80 { margin-left: 80px; }
.m-left-50 { margin-left: 50px; }
.m-left-30 { margin-left: 30px; }
.m-left-25 { margin-left: 25px; }
.m-left-20 { margin-left: 20px; }
.m-left-15 { margin-left: 15px; }
.m-left-10 { margin-left: 10px; }
.m-left-5 { margin-left: 5px; }

/*------------------------------------------*/
/*    Margin Right
/*------------------------------------------*/

.m-right-100 { margin-right: 100px; }
.m-right-80 { margin-right: 80px; }
.m-right-50 { margin-right: 50px; }
.m-right-30 { margin-right: 30px; }
.m-right-25 { margin-right: 25px; }
.m-right-20 { margin-right: 20px; }
.m-right-15 { margin-right: 15px; }
.m-right-10 { margin-right: 10px; }
.m-right-5 { margin-right: 5px; }

/*------------------------------------------*/
/*   BORDER SETTINGS FOR DEMOS
/*------------------------------------------*/

.b-top-dark { border-top: 1px solid #666; }
.b-bottom-dark { border-bottom: 1px solid #666; }
.b-left-dark { border-left: 1px solid #666; }
.b-right-dark { border-right: 1px solid #666; }

.b-top-grey { border-top: 1px solid #ddd; }
.b-bottom-grey { border-bottom: 1px solid #ddd; }
.b-left-grey { border-left: 1px solid #ddd; }
.b-right-grey { border-right: 1px solid #ddd; }

.b-top-theme { border-top: 1px solid #25c6ff; }
.b-bottom-theme { border-bottom: 1px solid #25c6ff; }
.b-left-theme { border-left: 1px solid #25c6ff; }
.b-right-theme { border-right: 1px solid #25c6ff; }

.b-top-blue { border-top: 1px solid #0d82f9; }
.b-bottom-blue { border-bottom: 1px solid #0d82f9; }
.b-left-blue { border-left: 1px solid #0d82f9; }
.b-right-blue { border-right: 1px solid #0d82f9; }

.b-top-green { border-top: 1px solid #64b671; }
.b-bottom-green { border-bottom: 1px solid #64b671; }
.b-left-green { border-left: 1px solid #64b671; }
.b-right-green { border-right: 1px solid #64b671; }

.b-top-red { border-top: 1px solid #f45432; }
.b-bottom-red { border-bottom: 1px solid #f45432; }
.b-left-red { border-left: 1px solid #f45432; }
.b-right-red { border-right: 1px solid #f45432; }

.b-top-yellow { border-top: 1px solid #f6d01d; }
.b-bottom-yellow { border-bottom: 1px solid #f6d01d; }
.b-left-yellow { border-left: 1px solid #f6d01d; }
.b-right-yellow { border-right: 1px solid #f6d01d; }

.b-top-purple { border-top: 1px solid #9c67c3; }
.b-bottom-purple { border-bottom: 1px solid #9c67c3; }
.b-left-purple { border-left: 1px solid #9c67c3; }
.b-right-purple { border-right: 1px solid #9c67c3; }

.b-top-charcoal { border-top: 1px solid #2d3345; }
.b-bottom-charcoal { border-bottom: 1px solid #2d3345; }
.b-left-charcoal { border-left: 1px solid #2d3345; }
.b-right-charcoal { border-right: 1px solid #2d3345; }

/*------------------------------------------*/
/*   BACKGROUND SETTINGS FOR DEMOS
/*------------------------------------------*/

.bg-scroll {
	width: 100%;
	background-attachment: fixed !important;
	background-repeat: no-repeat;
	background-position: center center;		
	background-size: cover;
}

.bg-fixed {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;		
	background-size: cover;
}

/*------------------------------------------*/
/*   BACKGROUND COLORS FOR DEMOS
/*------------------------------------------*/

.no-bg { background-color: transparent; }
.bg-theme { background-color: #25c6ff; }
.bg-white { background-color: #fff; }
.bg-black { background-color: #222; }
.bg-stategrey { background-color: #20242e; }
.bg-dark { background-color: #444; }
.bg-lightgrey { background-color: #f5f5f5; }
.bg-green { background-color: #64b671; }
.bg-blue { background-color: #0d82f9; }
.bg-charcoal { background-color: #2d3345; }
.bg-darkblue { background-color: #3f70ca; }
.bg-red { background-color: #f45432; }
.bg-yellow { background-color: #f6d01d; }
.bg-purple { background-color: #9c67c3; }



/* ==========================================================================
   02. TYPOGRAPHY
   ========================================================================== */
   
/*------------------------------------------*/
/*	HEADERS
/*------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0; 
	margin-bottom: 0;
}

h3.h3-thin, h4.h4-thin {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
}

/* Header H5 */

h5 {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 5px;
}

h5.h5-lg {
	font-size: 17px;
	line-height: 23px;
	margin-bottom: 5px;
}

/* Header H4 */

h4.h4-small {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 5px;
}

h4 {
	font-size: 19px;
	line-height: 26px;
	margin-bottom: 10px;
}

h4.h4-lg {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 15px;
} 

/* Header H3 */

h3.h3-small {
	font-size: 24px;
	line-height: 30px;
}

h3 {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 20px;
}

h3.h3-medium {
	font-size: 30px;
	line-height: 38px;
} 

h3.h3-lg {
	font-size: 34px;
	line-height: 44px;
} 

/* Header H2 */

h2 {
	font-size: 36px;
	line-height: 46px;
	margin-bottom: 20px;
}

h2.h2-medium {
	font-size: 40px;
	line-height: 46px;
}

h2.h2-lg {
	font-size: 42px;
	line-height: 50px;
}

h2.h2-huge {
	font-size: 46px;
	line-height: 54px;
}

/*------------------------------------------*/
/*	 PARAGRAPHS
/*------------------------------------------*/

p {
	color: #444;
	font-size: 16px; 
	line-height: 24px;
	font-weight: 300;
}

p.p-small {
	font-size: 14px; 
	line-height: 22px;
}

p.p-lg {
	font-size: 18px; 
	line-height: 28px;
}

p.p-huge {
	font-size: 22px; 
	line-height: 30px;
}

/*------------------------------------------*/
/*	 LISTS
/*------------------------------------------*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*------------------------------------------*/
/*	 LINK SETTINGS
/*------------------------------------------*/

a {
	text-decoration: none;
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

a:hover {
	color: #444;
	text-decoration: none;
}

a:focus {
	outline: none;
	text-decoration: none;
}

/*------------------------------------------*/
/*	IMAGE SETTINGS
/*------------------------------------------*/

.img-responsive {
	display: inline-block; 
}

/*------------------------------------------*/
/*	 BUTTON SETTINGS
/*------------------------------------------*/

.btn {
	background-color: #25c6ff;
	color: #fff;
	font-size: 13px;
	font-weight: 500;	
	text-transform: uppercase;
	border: 2px solid #25c6ff;
	padding: 12px 30px;
 	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;	
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

/*------------------------------------------*/
/*	 Button Size
/*------------------------------------------*/

.btn.btn-medium {
	font-size: 15px;
	font-weight: 700;
	padding: 14px 50px;	
}

.btn.btn-lg {
	font-size: 16px;
	font-weight: 700;
	padding: 15px 70px;	
}

/*------------------------------------------*/
/*	 Button Colors
/*------------------------------------------*/

.btn.btn-black {
	background-color: #444;
	border-color: #444;
}

.btn.btn-footer {
	background-color: #292929;
	border : 1px solid #666;
	color: #aaa;
}

.btn.btn-grey {
	color: #333;
	background-color: #ccc;
	border-color: #ccc;
}

.btn.btn-red {
	background-color: #f45432;
	border-color: #f45432;
}

.btn.btn-green {
	background-color: #64b671;
	border-color: #64b671;
}

.btn.btn-blue {
	background-color: #0d82f9;
	border-color: #0d82f9;
}

.btn.btn-darkblue {
	background-color: #3f70ca;
	border-color: #3f70ca;
}

.btn.btn-yellow {
	background-color: #f6d01d;
	border-color: #f6d01d;
}

.btn.btn-purple {
	background-color: #9c67c3;
	border-color: #9c67c3;
}

.btn.btn-charcoal {
	background-color: #2d3345;
	border-color: #2d3345;
}

/*------------------------------------------*/
/*	 Button Transparent Background
/*------------------------------------------*/

.btn.btn-tra-dark {
	background-color: transparent;
	border-color: #444;
	color: #444;	
}

.btn.btn-tra-white {
	background-color: transparent;
	border-color: #fff;
	color: #fff;	
}

.btn.btn-tra-blue {
	background-color: transparent;
	border-color: #25c6ff;
	color: #25c6ff;	
}

.btn.btn-tra-green {
	background-color: transparent;
	border-color: #64b671;
	color: #64b671;	
}

.btn.btn-tra-red {
	background-color: transparent;
	border-color: #f45432;
	color: #f45432;	
}

.btn.btn-tra-yellow {
	background-color: transparent;
	border-color: #f6d01d;
	color: #f6d01d;	
}

.btn.btn-tra-darkblue {
	background-color: transparent;
	border-color: #3f70ca;
	color: #3f70ca;	
}

/*------------------------------------------*/
/*	 Button Hover
/*------------------------------------------*/

.btn.dark-hover:hover,
.btn.dark-hover:focus {
	background-color: #444;
	border-color: #444;
	color: #fff;	
} 

.btn.tra-hover:hover,
.btn.tra-hover:focus {
	background-color: transparent;
	border-color: #fff;
	color: #fff;	
} 

.btn.theme-hover:hover,
.btn.theme-hover:focus {
	background-color: #25c6ff;
	border-color: #25c6ff;
	color: #fff;	
} 

.btn.green-hover:hover,
.btn.green-hover:focus {
	background-color: #64b671;
	border-color: #64b671;
	color: #fff;	
} 

.btn.red-hover:hover,
.btn.red-hover:focus {
	background-color: #f45432;
	border-color: #f45432;
	color: #fff;	
} 

.btn.yellow-hover:hover,
.btn.yellow-hover:focus {
	background-color: #f6d01d;
	border-color: #f6d01d;
	color: #fff;	
}

.btn.blue-hover:hover,
.btn.blue-hover:focus {
	background-color: #0d82f9;
	border-color: #0d82f9;
	color: #fff;	
}

.btn.darkblue-hover:hover,
.btn.darkblue-hover:focus {
	background-color: #3f70ca;
	border-color: #3f70ca;
	color: #fff;	
}

/*------------------------------------------*/
/*	  STORE BAGE ICONS
/*------------------------------------------*/

a.store {
	margin-right: 10px;
}

.btn:last-child, a.store:last-child {
	margin-right: 0;
}

/*------------------------------------------*/
/*	 SECTION TITLE
/*------------------------------------------*/

.section-title, .section-title-thin {
	text-align: center;
	margin-bottom: 60px;
}

.section-title h3 {
	font-size: 38px;
	line-height: 42px;
	letter-spacing: -0.5px;
	margin-bottom: 15px;
}

.section-title-thin h4 {
	font-size: 30px;
	line-height: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: 10px;
}

.section-title p { 
	color: #757575;
	font-size: 19px;
	line-height: 27px;
	padding: 0 8%;
}

.section-title-thin p { 
	color: #757575;
	font-size: 19px;
	line-height: 27px;
}

/*------------------------------------------*/
/*	 TEXT SETTINGS FOR DEMOS
/*------------------------------------------*/
 
.white-color h2, 
.white-color h3, 
.white-color h4, 
.white-color h5, 
.white-color h6, 
.white-color p, 
.white-color a, 
.white-color i, 
.white-color span {
	color: #fff;
}

/*------------------------------------------*/
/*	 Text Colors
/*------------------------------------------*/

.white-color { color: #fff; }
.black-color { color: #222; }
.dark-color { color: #666; }
.grey-color { color: #999; }
.lightgrey-color { color: #ccc; }
.theme-color { color: #25c6ff; }
.blue-color { color: #0d82f9; }
.green-color { color: #64b671; }
.red-color { color: #f45432; }
.yellow-color { color: #f6d01d; }
.purple-color { color: #9c67c3; }
.darkblue-color { color: #3f70ca; }
.charcoal-color { color: #2d3345; }

/*------------------------------------------*/
/*	 Text Weight
/*------------------------------------------*/

.txt-thin { font-weight: 300; }
.txt-normal { font-weight: 400; }
.txt-medium { font-weight: 500; }
.txt-semi-bold { font-weight: 700; }
.txt-bold { font-weight: 900; }

.txt-uppercase { text-transform: uppercase; }

/*------------------------------------------*/
/*	  Video Icon
/*------------------------------------------*/

.modal-video {
	display: inline-block;
}

a.banner-video-icon  {
    width: 48px;
    height: 48px;
	opacity: 0.65;
	display: inline-block;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
}

a.banner-video-icon i {
	font-size: 15px;
	line-height: 48px;
}

.modal-video span {
	font-size: 13px;
}

a.banner-video-icon:hover {
	opacity: 1;
}



/* ==========================================================================
   03. PRELOAD ANIMATION
   ========================================================================== */
   
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
	background-color: #fff;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border: 3px solid transparent;
	 border-top-color: #25c6ff;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #f9c922;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}



/* ==========================================================================
   04. HEADER & NAVIGATION
   ========================================================================== */

/*------------------------------------------*/
/*	 LOGO IMAGE    
/*------------------------------------------*/

.navbar-brand {
	height: 60px;
	padding: 22px 15px;
}

/*------------------------------------------*/
/*	 NAVIGATION BAR    
/*------------------------------------------*/

.navbar {	
	padding: 5px 0;
	margin-bottom: 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.navbar.no-bg {
	padding: 20px 0px;
	background-color: transparent;
	box-shadow: 0 0;			
}

/*------------------------------------------*/
/*	 NAVIGATION MENU    
/*------------------------------------------*/

.navbar-nav > li > a {
	color: #333;
	font-size: 14px;
	line-height: 60px;
	font-weight: 700;
	display: block;
	padding: 0 12px;
	text-transform: uppercase;
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 25px;
    font-weight: 400;
    line-height: 20px;
}

.no-bg .navbar-nav > li > a,
.no-bg .navbar-nav > li > p.stay-connect { 
	color: #fff; 
}

.no-bg.header-dark .navbar-nav > li > a,
.no-bg.header-dark .navbar-nav > li > p.stay-connect {
	color: #333;
} 

.navbar-nav > li > p {
	font-size: 16px;
	line-height: 60px;
	margin-bottom: 0;
}

.navbar-nav > li > p i {
	font-size: 16px;
	line-height: 60px;
	margin-right: 2px;
}

/*------------------------------------------*/
/*	 Header Button
/*------------------------------------------*/

.navbar-nav > li > a.header-btn {	
	background-color: #25c6ff;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	margin-top: 10px;
	padding: 7px 25px;
	margin-left: 10px;
	border: 2px solid #25c6ff;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.navbar-nav > li > a.header-btn.header-btn-grey  {	
	background-color: #ddd;
	color: #333;
	border: 2px solid #ddd;
}

.no-bg .navbar-nav > li > a.header-btn {	
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
}

.no-bg .navbar-nav > li > a.header-btn.header-btn-grey {	
	background-color: #25c6ff;
	color: #fff;
	border: 2px solid #25c6ff;
}

/*------------------------------------------*/
/*	 Header Social Icons  
/*------------------------------------------*/

.header-socials {
	display: inline-block; 
	margin-top: 12px;
	margin-left: 10px;
}

.header-socials span {
	float: left;
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
}

.he_social {
	width: 36px;
    height: 36px;
	text-align: center;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
    line-height: 36px;
	margin: 0 3px;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: block;
    text-decoration: none;
}

.navbar.no-bg .he_social {
	background-color: transparent;
	color: #fff;
	font-size: 16px;
    line-height: 32px;
	border: 2px solid #fff;
}

.navbar .ico-facebook {background-color: #3b5998;}
.navbar .ico-twitter {background-color: #00a9ed;}
.navbar .ico-google-plus {background-color: #cd1111;}
.navbar .ico-linkedin {background-color: #015886;}
.navbar .ico-dribbble {background-color: #d92d84;}
.navbar .ico-instagram {background-color: #beb3a8;}
.navbar .ico-pinterest {background-color: #ac281a;}
.navbar .ico-dropbox {background-color: #008ad2;}
.navbar .ico-skype {background-color: #00a9ed; }
.navbar .ico-youtube {background-color: #cd1b20;}
.navbar .ico-tumblr {background-color: #3a5976;}
.navbar .ico-vimeo {background-color: #00adee;}
.navbar .ico-flickr {background-color: #d2d2d2;}
.navbar .ico-github {background-color: #222;}
.navbar .ico-renren {background-color: #364a83;}
.navbar .ico-vk {background-color: #3b5998;}
.navbar .ico-xing {background-color: #015f5e;}
.navbar .ico-weibo {background-color: #be4443;}
.navbar .ico-rss {background-color: #ff6600;}

.navbar.no-bg .ico-facebook:hover, 
.no-bg.scroll .ico-facebook, 
.navbar.no-bg.header-dark .ico-facebook {
	background-color: #3b5998; 
	border-color: #3b5998; 
}

.navbar.no-bg .ico-twitter:hover, 
.no-bg.scroll .ico-twitter, 
.navbar.no-bg.header-dark .ico-twitter {
	background-color: #00a9ed; 
	border-color: #00a9ed; 
}

.navbar.no-bg .ico-google-plus:hover, 
.no-bg.scroll .ico-google-plus, 
.navbar.no-bg.header-dark .ico-google-plus {
	background-color: #cd1111; 
	border-color: #cd1111; 
}

.navbar.no-bg .ico-linkedin:hover, 
.no-bg.scroll .ico-linkedin, 
.navbar.no-bg.header-dark .ico-linkedin {
	background-color: #015886;  
	border-color: #015886; 
}

.navbar.no-bg .ico-dribbble:hover, 
.no-bg.scroll .ico-dribbble, 
.navbar.no-bg.header-dark .ico-dribbble {
	background-color: #d92d84;  
	border-color: #d92d84; 
}

.navbar.no-bg .ico-instagram:hover, 
.no-bg.scroll .ico-instagram, 
.navbar.no-bg.header-dark .ico-instagram {
	background-color: #beb3a8;  
	border-color: #beb3a8; 
}

.navbar.no-bg .ico-pinterest:hover, 
.no-bg.scroll .ico-pinterest, 
.navbar.no-bg.header-dark .ico-pinterest {
	background-color: #ac281a;  
	border-color: #ac281a; 
}
.navbar.no-bg .ico-dropbox:hover, 
.no-bg.scroll .ico-dropbox, 
.navbar.no-bg.header-dark .ico-dropbox {
	background-color: #008ad2;  
	border-color: #008ad2; 
}

.navbar.no-bg .ico-skype:hover, 
.no-bg.scroll .ico-skype, 
.navbar.no-bg.header-dark .ico-skype {
	background-color: #00a9ed;
	border-color: #00a9ed; 
}
	
.navbar.no-bg .ico-youtube:hover, 
.no-bg.scroll .ico-youtube, 
.navbar.no-bg.header-dark .ico-youtube {
	background-color: #cd1b20;  
	border-color: #cd1b20; 
}
	
.navbar.no-bg .ico-tumblr:hover, 
.no-bg.scroll .ico-tumblr, 
.navbar.no-bg.header-dark .ico-tumblr {
	background-color: #3a5976;  
	border-color: #3a5976; 
}
	
.navbar.no-bg .ico-vimeo:hover, 
.no-bg.scroll .ico-vimeo, 
.navbar.no-bg.header-dark .ico-vimeo {
	background-color: #00adee; 
	border-color: #00adee; 
}
	
.navbar.no-bg .ico-flickr:hover, 
.no-bg.scroll .ico-flickr, 
.navbar.no-bg.header-dark .ico-flickr {
	background-color: #d2d2d2;  
	border-color: #d2d2d2; 
}
	
.navbar.no-bg .ico-github:hover, 
.no-bg.scroll .ico-github, 
.navbar.no-bg.header-dark .ico-github {
	background-color: #222;  
	border-color: #222; 
}
	
.navbar.no-bg .ico-renren:hover, 
.no-bg.scroll .ico-renren, 
.navbar.no-bg.header-dark .ico-renren {
	background-color: #364a83;  
	border-color: #364a83; 
}
	
.navbar.no-bg .ico-vk:hover, 
.no-bg.scroll .ico-vk, 
.navbar.no-bg.header-dark .ico-vk {
	background-color: #3b5998;  
	border-color: #3b5998; 
}
	
.navbar.no-bg .ico-xing:hover, 
.no-bg.scroll .ico-xing, 
.navbar.no-bg.header-dark .ico-xing {
	background-color: #015f5e;  
	border-color: #015f5e; 
}

.navbar.no-bg .ico-weibo:hover, 
.no-bg.scroll .ico-weibo, 
.navbar.no-bg.header-dark .ico-weibo {
	background-color: #be4443;  
	border-color: #be4443; 
}

.navbar.no-bg .ico-rss:hover, 
.no-bg.scroll .ico-rss, 
.navbar.no-bg.header-dark .ico-rss {
	background-color: #ff6600;  
	border-color: #ff6600; 
}

.he_social:hover {
	background-color: #444;
	color: #fff;
}

.navbar.no-bg.header-dark .he_social:hover,
.no-bg.scroll .he_social:hover {
	background-color: #444;
	border-color: #444;
	color: #fff;
}

/*------------------------------------------*/
/*	 Navigation Menu Hover
/*------------------------------------------*/

.navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover,
.no-bg.scroll .navbar-nav > li > a:hover,
.no-bg.header-dark .navbar-nav > li > a:hover {
	color: #25c6ff;
	background-color: transparent;
}

.navbar-nav > li > a:focus {
	background-color: transparent;
}

.nav .open > a, .no-bg.header-dark .nav .open > a, 
.no-bg.scroll .nav .open > a, .nav .open > a:focus, 
.no-bg.header-dark .nav .open > a:focus, 
.no-bg.scroll .nav .open > a:focus,
.nav .open > a:hover, .no-bg.header-dark .open > a:hover, 
.no-bg.scroll .open > a:hover {
    background-color: transparent;
    color: #25c6ff;
}

/*------------------------------------------*/
/*	 Navbar Scroll   
/*------------------------------------------*/

.navbar.scroll {
	padding: 0px;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(50, 50, 50, 0.4);	
}

.no-bg.scroll .navbar-nav > li > a,
.no-bg.scroll .navbar-nav > li > p.stay-connect {
	color: #444;
}

.no-bg.header-dark .navbar-nav > li > a.header-btn,
.no-bg.scroll .navbar-nav > li > a.header-btn {
	background-color: #669ab9;
	border-color: #669ab9;
	color: #fff;
}

/*------------------------------------------*/
/*	 Navigation Menu Button Hover
/*------------------------------------------*/

.navbar-nav > li > a.header-btn:hover,
.no-bg.header-dark .navbar-nav > li > a.header-btn:hover,
.no-bg.header-dark .navbar-nav > li > a.header-btn.header-btn-grey,
.no-bg .navbar-nav > li > a.header-btn.header-btn-grey:hover,
.no-bg.scroll .navbar-nav > li > a.header-btn:hover {
	background-color: #444;
	border-color: #444;
	color: #fff;
}

.no-bg .navbar-nav > li > a.header-btn:hover,
.no-bg.header-dark .navbar-nav > li > a.header-btn.header-btn-grey:hover {
	background-color: #25c6ff;
	border-color: #25c6ff;
	color: #fff;
}

.navbar-nav > li > a.header-btn:focus {
	background-color: #aaa;
	border-color: #aaa;
	color: #fff;
}

/*------------------------------------------*/
/*	 Responsive Menu Button    
/*------------------------------------------*/

.navbar-toggle {
    position: relative;
	background-color: transparent;
    padding: 10px;
	margin: 11px 45px 11px 0;
	border: none;
}

.navbar-toggle {
	color: #444;
	border: 2px solid #444;
}

.navbar-toggle .icon-bar {
	background-color: #444;
}

/*------------------------------------------*/
/*	 Logo Image
/*------------------------------------------*/

.navbar .logo-white, 
.navbar .logo-black {
	display: block;
}

.navbar .logo-white,
.navbar.bg-white .logo-white,
.navbar.no-bg .logo-black,
.navbar.no-bg.header-dark .logo-white,
.navbar.no-bg.scroll .logo-white {
	display: none;
}

.navbar.no-bg .logo-white,
.navbar.no-bg.header-dark .logo-black,
.navbar.no-bg.scroll .logo-black {
	display: block;
}



/* ==========================================================================
   05. INTRO
   ========================================================================== */

.intro-section {
	width: 100%;
	background-image: url(../images/intro.jpg);
	background-repeat: no-repeat;
	background-position: center center;		
	-webkit-background-size: cover;
    -moz-background-size:cover;
    background-size: cover; 
}

#intro-2.intro-section,
#intro-10.intro-section,
#intro-13.intro-section,
#intro-15.intro-section {
	background-image: none;
}

#intro-11.intro-section {
	background-image: url(../images/intro-tra-world.png);
}

#intro-14.intro-section {
	background-image: url(../images/intro-mountains.png);
}

.intro-15-title {
	background-image: url(../images/intro-pattern.png);
}

/*------------------------------------------*/
/*	 INTRO OVERLAY
/*------------------------------------------*/

#intro-2 .overlay {
	height: 100%;
	background-color: rgba(20, 20, 20, 0.65); 	
}

#intro-10 .overlay {
	height: 100%;
	background-color: rgba(38, 56, 110, 0.85); 	
}

/*------------------------------------------*/
/*	 INTRO CONTENT
/*------------------------------------------*/

.intro-row-180 {
	padding-top: 180px;
	padding-bottom: 180px;
}

.intro-row-160 {
	padding-top: 160px;
	padding-bottom: 160px;
}

.intro-row-140 {
	padding-top: 140px;
	padding-bottom: 140px;
}

.intro-row-120 {
	padding-top: 120px;
	padding-bottom: 120px;
}

.intro-row-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

#intro-5 .intro_slider {
	height: 730px;
}

#intro-5 .slides {
	padding-top: 188px;
}

#intro-15-content {
	padding-top: 100px;
	padding-bottom: 550px;
}

.intro-15-image img {
	margin-top: -530px;
}

/*------------------------------------------*/
/*	 INTRO CONTENT TRANSPARENT HEADER
/*------------------------------------------*/

.wide-intro .intro-row-180 {
	padding-top: 220px;
	padding-bottom: 180px;
}

.wide-intro .intro-row-160 {
	padding-top: 200px;
	padding-bottom: 160px;
}

.wide-intro .intro-row-140 {
	padding-top: 180px;
	padding-bottom: 140px;
}

.wide-intro .intro-row-120 {
	padding-top: 160px;
	padding-bottom: 120px;
}

.wide-intro .intro-row-100 {
	padding-top: 140px;
	padding-bottom: 100px;
}

.wide-intro #intro-15-content {
	padding-top: 140px;
	padding-bottom: 550px;
}

/*------------------------------------------*/
/*	 Intro H2 Header
/*------------------------------------------*/ 

h2.intro-normal {
	font-size: 55px;
	line-height: 65px;
	margin-bottom: 10px;
}

h2.intro-medium {
	font-size: 65px;
	line-height: 75px;
	margin-bottom: 20px;
}

h2.intro-lg {
	font-size: 75px;
	line-height: 85px;
	margin-bottom: 20px;
}

h2.intro-huge {
	font-size: 90px;
	line-height: 95px;
	margin-bottom: 20px;
}

#intro-3 h2.intro-medium {
	margin-bottom: 10px;
}

#intro-3 h2.intro-medium span {
	border-bottom: 4px solid #25c6ff;
}

#intro-13 h2.intro-medium {
	letter-spacing: -1px;
}

#intro-21 h2.intro-medium {
	margin-bottom: 15px;
}

/*------------------------------------------*/
/*	 Intro H3 Header
/*------------------------------------------*/ 

.intro-txt h3 {
	font-size: 50px;
	line-height: 60px;
	margin-bottom: 15px;
}

#intro-15 .intro-txt h3 {
	font-size: 44px;
	line-height: 52px;
}

#intro-23 .intro-txt h3 {
	font-size: 44px;
	line-height: 52px;
	margin-bottom: 10px;
}

/*------------------------------------------*/
/*	 Intro Paragraphs
/*------------------------------------------*/

.intro-txt p.intro-small {
	font-size: 17px;
	line-height: 25px;
}

.intro-txt p {
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
} 

.intro-txt p.intro-lg {
	font-size: 24px;
	line-height: 32px;
}

.intro-txt p i {
	margin-right: 7px;
}

#intro-4 .intro-txt p,
#intro-15 .intro-txt p {
	padding: 0 5%;
}

#intro-9 .intro-txt p,
#intro-13 .intro-txt p {
	padding: 0 10%;
}

/*------------------------------------------*/
/*	 Intro Button
/*------------------------------------------*/

.intro-txt .btn {
	margin-top: 25px;
}

#intro-5 .intro-txt .btn,
#intro-7 .intro-txt .btn {
	margin-top: 0;
}

#intro-19 .intro-txt .btn {
	margin-top: 15px;
}

#intro-21 .intro-txt .btn {
	margin-top: 35px;
}

/*------------------------------------------*/
/*	 Intro List
/*------------------------------------------*/

.ilist-icon {
	padding-top: 3px;
    text-align: center;
    float: left;
}

.ilist-icon span {	
	width: 20px;
    height: 20px;
	font-size: 17px;
	line-height: 17px;
	font-weight: 500;
}

.ilist-txt {
    overflow: hidden;
    padding-left: 15px;
}

/*------------------------------------------*/
/*	 INTRO REGISTER FORM 
/*------------------------------------------*/

#intro-form form {	
	background-color: #333;
	border: 1px solid #333;
	padding: 35px 15px;
	margin: 10px 15px 0 40px;
}

.form-control:focus {
    border-color: #101010;
	outline: 0px none;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(0, 0, 0, 0.2);
}

#intro-form h4 {
	font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
	padding: 0 10px;
}

#intro-form p {
	color: #aaa;
	font-size: 15px;
	line-height: 20px;
	padding: 0 40px;
	margin-top: 20px;
}

#intro-form a {
	color: #fff;
	font-weight: 500;
}

#intro-form a:hover {
	color: #25c6ff;
}

/*------------------------------------------*/
/*	  Register Form Input
/*------------------------------------------*/

#intro-form .form-control {
	height: 48px;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 20px;
	border: 1px solid #bbb;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input[type="text"],
input[type="email"],
textarea {
	background-color: #eee;
	color: #222;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

/*------------------------------------------*/
/*	  Register Form Message
/*------------------------------------------*/

#intro-form .loading {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	margin-top: 20px;
}

.error {
	color: #e74c3c;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}

/*------------------------------------------*/
/*	 Register Form Submit Button
/*------------------------------------------*/

#form_register_btn {
	padding: 0 15px;
	margin-bottom: 20px;
}

#form_register_btn .btn {
	width: 100%;
	display: block;
	margin-top: 10px;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;	
}

#form_register_btn .btn:focus {
	background-color: #25c6ff;
	color: #fff;
	border-color: #25c6ff;
}

/*------------------------------------------*/
/*	  INTRO NEWSLETTER FORM
/*------------------------------------------*/

#intro-newsletter {
	padding: 0 14%;
}

/*------------------------------------------*/
/*	  Newsletter Form Input
/*------------------------------------------*/

#intro-newsletter .form-control {
	height: 55px;
	background-color: #fff;
	border: 2px solid #fff;
	border-right: none;
	color: #444;
	font-size: 18px;
	font-weight: 300;
	padding: 15px 20px;
	box-shadow: none;
	-webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}

#intro-newsletter .form-control:focus {
	border-color: #25c6ff;
	outline: 0;
	box-shadow: none;
}

/*------------------------------------------*/
/*	  Newsletter Form Button
/*------------------------------------------*/

#intro-newsletter .btn { 
	height: 55px;
	font-size: 15px;
	margin-top: 0; 
	padding: 15px 60px; 
}

/*------------------------------------------*/
/*	Newsletter Form Notification
/*------------------------------------------*/

#intro-newsletter .form-notification {
	font-size: 18px;
	line-height: 18px;
	font-weight: 300;
	margin-top: 20px;
}

/*------------------------------------------*/
/*	 COUNTDOWN ELEMENT
/*------------------------------------------*/ 

#clock {
	display: inline-block;
}

/*------------------------------------------*/
/*	  Countdown Box
/*------------------------------------------*/

#clock .cbox-1 {
	float: left;
	text-align: center;
	padding: 20px 45px;
	display: inline-block;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#clock .cbox-1:last-child {
	border-right: none;
}

#clock span.cbox-1-digit {
	font-size: 90px;
	line-height: 90px;	
	font-weight: 700;
	letter-spacing: -1px;
}

#clock span.cbox-1-txt {
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
	display: block;
	padding-top: 15px;
} 

/*------------------------------------------*/
/*	 Intro Typed Cursor
/*------------------------------------------*/ 

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



/* ==========================================================================
   06. PROGRESS BAR
   ========================================================================== */

.goalProgress {
	background: #f7f7f7;
	margin-bottom: 18px;
}

#intro-17 .goalProgress { 
	background-color: rgba(210, 210, 210, 0.3); 
}

div.progressBar {
	background: #25c6ff;
	padding: 5px 0;
	overflow: hidden;
	width: 20px;
}

span.goalAmount {
	display: none;
	text-indent: -9999px;
}   

.barWrapper h5 {
	margin-bottom: 8px;
	display: inline-block;
}

#intro-16 .barWrapper h5 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 15px;
	display: inline-block;
}

/*------------------------------------------*/
/*	 Progress Bar Tooltip
/*------------------------------------------*/

.barWrapper {
	position: relative;
}

.skill-percent, #intro-17 .skill-percent {	
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	display: inline-block;
	position: absolute;
	top: 4px;
	right: 2%;
}

#intro-16 .skill-percent {
	font-size: 16px;
	line-height: 16px;
	top: 7px;
	right: 2%;
}



/* ==========================================================================
   07. PROCESS
   ========================================================================== */

#process-1 {
	background-image: url(../images/bg-1.jpg);	
}   
   
#process-2 {
	background-image: url(../images/world-map-transparent.png);	
}  
  
/*------------------------------------------*/
/*	  Step Box Icon
/*------------------------------------------*/

.prbox-icon span {
	font-size: 110px;
	line-height: 110px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 30px;
}

.prbox-icon::after {
    content: "";
    width: 30%;
    position: absolute;
    border-bottom: 2px dashed #444;
    top: 20%;
    left: 100%;
    transform: translateX(-50%);
}

#process-2 .prbox-icon::after {
    border-bottom: 2px dashed #fff;
}

#step-4 .prbox-icon::after,
#step-8 .prbox-icon::after {
    border-bottom: none;
}



/* ==========================================================================
   08. ABOUT
   ========================================================================== */ 

#about-2-2 {
	background-image: url(../images/bg-2.jpg);	
}

#about-5-2 {
	background-image: url(../images/bg-1.jpg);	
}

.about-section .about-txt { 
	position: relative; 
} 

/*------------------------------------------*/
/*	About Icons
/*------------------------------------------*/    

.abox-1 span {
	color: #ccc;
	font-size: 90px;
	line-height: 90px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -5px;
	opacity: 0.4;
	display: block;
	margin-bottom: 5px;
}

.abox-2-icon span {	
	font-size: 60px;
	line-height: 60px;
}

.abox-3 span {
	width: 45px;
	height: 45px;
	float: left;
	text-align: center;
	font-size: 45px;
	line-height: 45px!important;
}

.abox-4-icon {
	padding-top: 3px;
    text-align: center;
    float: left;
}

.abox-4-icon span {	
	width: 20px;
    height: 20px;
	font-size: 17px;
	line-height: 17px;
	font-weight: 500;
}

/*------------------------------------------*/
/*	About Text
/*------------------------------------------*/ 

.abox-1 span:after {
    display: block;
    content: "";
    height: 2px;
    width: 80px;
	background: #25c6ff;
	margin-top: 20px;
	margin-bottom: 20px;
    position: relative;
}

.abox-2-txt {
    overflow: hidden;
    padding-left: 10px;
}

.abox-3-txt {
	overflow: hidden;
	margin-left: 65px;
} 

.abox-4-txt {
    overflow: hidden;
    padding-left: 10px;
}

/*------------------------------------------*/
/*	About List
/*------------------------------------------*/ 

.about-list li {
	margin-bottom: 4px;
}

.about-list li span {
	margin-right: 8px;
}
  
/*------------------------------------------*/
/*	 ABOUT IMAGES
/*------------------------------------------*/ 

.about-image-3-1 {
	margin-top: 20px;
	padding-right: 0;
} 

.about-image-3-2 {	
	padding-left: 0;
} 



/* ==========================================================================
   09. PROMO
   ========================================================================== */ 

#promo-1, #promo-2 { 
	background-image: url(../images/promo-1.png);	
}

#promo-3 { 
	background-image: url(../images/promo-2.png); 
}

#promo-4 { 
	background-image: url(../images/bg-1.jpg); 
}

#promo-5 { 
	background-image: url(../images/world-map-transparent.png); 
}

#promo-6 { 
	background-image: url(../images/food-pattern.png);	
	background-repeat: repeat repeat;	 
}

/*------------------------------------------*/
/*	Promo Box
/*------------------------------------------*/

.pbox-icon {
    text-align: center;
    float: left;
}

.pbox span {	
	width: 60px;
    height: 60px;
	font-size: 55px;
	line-height: 55px!important;
	margin-top: 5px;
}

.pbox h4 {
	margin-bottom: 5px;
}

.pbox p {
	margin-bottom: 0;
}

.pbox-txt {
    overflow: hidden;
    padding-left: 20px;
} 

/*------------------------------------------*/
/*	PROMO TEXT
/*------------------------------------------*/

.promo-1-txt {
	padding: 0 15%;
}

.promo-5-txt h2 {
	font-size: 50px;
	line-height: 60px;
}



/* ==========================================================================
   10. SERVICES
   ========================================================================== */  

#services-1-3, #services-1-4,
#services-4-2, #services-5-3,
#services-5-4, #services-6-3, #services-6-4 {
	background-image: url(../images/services.png);	
	background-position: top center;		
}

#services-2-2 {
	background-image: url(../images/world-map-transparent.png);	
	background-position: top center;		
}
  
/*------------------------------------------*/
/*	 Service Box Icon
/*------------------------------------------*/ 

.sbox-1-icon {
    text-align: center;
    float: left;
}

.sbox-1 span {	
	width: 60px;
    height: 60px;
	font-size: 55px;
	line-height: 55px!important;
	margin-top: 5px;
}

.sbox-2 span {	
	font-size: 55px;
	display: block;
	margin-bottom: 20px;
}

.sbox-3 span {	
	font-size: 55px;
	display: block;
	margin-bottom: 15px;
}

/*------------------------------------------*/
/*	 Service Box Text
/*------------------------------------------*/ 

.sbox-1 p, .sbox-2 p, .sbox-3 p {
	margin-bottom: 0;
}

.sbox-1-txt {
    overflow: hidden;
    padding-left: 25px;
} 



/* ==========================================================================
   11. CONTENT
   ========================================================================== */ 
 
#content-1-4, #content-2-4 {
	background-image: url(../images/bg-2.jpg);	
}   

#content-1-5, #content-1-7, 
#content-1-11, #content-8-2 {
	background-image: url(../images/world-map-transparent.png);	
}   

#content-2-2 {
	background-image: url(../images/services-dark.jpg);	
}

#content-3-1, #content-6-2 {
	background-image: url(../images/pattern.png);	
	background-repeat: repeat repeat;
}

#content-6-1 {
	background-image: url(../images/content.jpg);	
}

#content-7-1, #content-7-2, #content-7-3,
#content-7-5,  #content-7-4, #content-7-6 {
	position: relative;
}

#content-7-1 .content-7-txt, 
#content-7-3 .content-7-txt, 
#content-7-5 .content-7-txt { 
	padding-left: 0; 
}

#content-9-1, #content-9-2 {
	background-image: url(../images/bg-3.jpg);		
}

#content-10-1 .row {
	margin: 0;
	padding: 0
} 

/*------------------------------------------*/
/*	 CONTENT TEXT
/*------------------------------------------*/ 

.content-1-txt,
#content-2-3 .content-2-txt,
#content-2-4 .content-2-txt,
.content-3-txt {
	margin-top: 50px;
}

#content-1-2 .content-1-txt,
#content-2-2 .content-2-txt {
	margin-top: 30px;
}

#content-1-3 .content-1-txt {
	margin-top: 120px;
}

#content-1-5 .content-1-txt,
#content-1-6 .content-1-txt,
#content-1-10 .content-1-txt,
#content-1-11 .content-1-txt,
.content-2-txt {
	margin-top: 80px;
}

#content-1-9 .content-1-txt,
.content-4-txt {
	margin-top: 100px;
}

#content-3-2 .content-3-txt,
#content-4-2 .content-4-txt {
	margin-top: 0;
}

.content-11-txt {
	margin-top: 60px;
}

/*------------------------------------------*/
/*	 CONTENT BOX
/*------------------------------------------*/  
   
.content-9-txt-holder { 
	background-color: rgba(37, 198, 255, 0.85);
	padding: 100px 55px;
}   
   
#content-10-1 .col-md-4 {
	padding: 0;
}

.cbox-4 {
	padding: 80px 60px;
}

#c10-3 {
	background-image: url(../images/bg-3.jpg);
	background-repeat: no-repeat;
	background-position: center center;		
	background-size: cover;	
}

/*------------------------------------------*/
/*	 Content Box Icon
/*------------------------------------------*/ 

.cbox-1-icon, 
.cbox-2-icon {
    text-align: center;
    float: left;
}

.cbox-2-icon {
    padding-top: 5px;
}

.cbox-1-icon span {	
	width: 45px;
    height: 45px;
	font-size: 45px;
	line-height: 45px!important;
	margin-top: 8px;
}

#content-1-10 span, 
#content-1-11 span,
#content-7-5 span {	
	font-size: 45px;
	display: block;
}

.cbox-2-icon span {	
	width: 20px;
    height: 20px;
	font-size: 19px;
	line-height: 19px;
	font-weight: 500;
}

.cbox-3 span {
	font-size: 32px;
	line-height: 32px!important;
	float: left;
	margin-right: 15px;	
}

.cbox-4 span {	
	font-size: 60px;
	display: block;
	margin-bottom: 30px;
}

/*------------------------------------------*/
/*	 Content Box Text
/*------------------------------------------*/ 

.cbox-1-txt {
    overflow: hidden;
    padding-left: 20px;
} 

.cbox-2-txt {
    overflow: hidden;
    padding-left: 12px;
} 

/*------------------------------------------*/
/*	 Content Box Title
/*------------------------------------------*/ 

.cbox-3 h4 {
	line-height: 32px!important;
	margin-bottom: 10px;
}

.cbox-1-txt h4 {
    margin-bottom: 10px;
} 

.content-section h2.h2-huge {
	font-size: 52px;
	line-height: 60px;
	margin-bottom: 25px;
}   
   
/*------------------------------------------*/
/*	 Content Box Button
/*------------------------------------------*/ 

.content-1-btn {
	margin-top: 30px;
}

.content-4-btn {
	margin-top: 35px;
}   
   
/*------------------------------------------*/
/*	  VIDEO LINK
/*------------------------------------------*/ 

.video-block {
	position: relative;
	width: 100%;
	height: 100%;
}

.video-block-wrapper {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
}

/*------------------------------------------*/
/*	  Video Link Play Icon
/*------------------------------------------*/

.play-icon {
	width: 90px;
	height: 90px;
	background: url(../images/play-icon.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -45px;	
	opacity: 0.75;
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.play-btn i {
	margin-left: 5px;
}

.play-icon:hover {
	opacity: 1;
}

/*------------------------------------------*/
/*	Content Image
/*------------------------------------------*/  
  
.content-7-1-img, .content-7-3-img, .content-7-5-img { 
	background-repeat: no-repeat;
	background-position: left center;		
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
}

.content-7-2-img, .content-7-4-img, .content-7-6-img { 
	background-repeat: no-repeat;
	background-position: left center;		
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
	left: 50%;
}

.content-7-1-img { 
	background-image: url(../images/content-7-1.jpg);
}

.content-7-2-img { 
	background-image: url(../images/content-7-2.jpg);
}

.content-7-3-img { 
	background-image: url(../images/content-7-3.jpg);
}

.content-7-4-img { 
	background-image: url(../images/content-7-4.jpg);
}

.content-7-5-img { 
	background-image: url(../images/content-7-5.jpg);
}

.content-7-6-img { 
	background-image: url(../images/content-7-6.jpg);
}

/*------------------------------------------*/
/*	Content Image Overlay
/*------------------------------------------*/ 

.content-img-overlay {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.content-img-overlay img {
	-webkit-transition: all 450ms;
	-moz-transition: all 450ms;
	-o-transition: all 450ms;
	transition: all 450ms;
} 

.content-item-overlay {
	opacity: 0;
	-moz-opacity: 0; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(10, 10, 10, 0.5);
	-moz-transition: opacity 400ms ease-out;
	-webkit-transition: opacity 400ms ease-out;
	-o-transition: opacity 400ms ease-out;
	transition: opacity 400ms ease-out;
}

.content-img-overlay:hover > img {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.content-img-overlay:hover .content-item-overlay {
	opacity: 1; 
	-moz-opacity: 1; 
}

/*------------------------------------------*/
/*	CONTENT ACCORDION
/*------------------------------------------*/   

.content-section .panel-heading span {
	font-size: 16px;
	line-height: 16px;
	font-weight: 900;
}

.content-section .panel-group h4.h4-lg {
	margin-bottom: 0;
}

.content-section .panel-group .panel {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.content-section .panel-group .panel + .panel {
    margin-top: 2px;
}

.content-section .panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

/*------------------------------------------*/
/*	Accordion Panel Content 
/*------------------------------------------*/

.content-section .panel-body {
	padding: 20px 25px 15px;
	border: none;
}

.content-section .panel-heading a:focus {
	color: #222;
}

/*------------------------------------------*/
/*	 Circle Skills Bars
/*------------------------------------------*/

.chart-item {
	text-align: center;
	float: left;
	padding: 0 20px;
}

.chart {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 0 auto 20px;
}

.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.chart span {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	line-height: 150px;
	font-weight: 700;
	display: inline-block;
}

.chart span:after {
	content: '%';
	margin-left: 0;
	font-size: 35px;
	font-weight: 500;
}

.chart-item h4 {
	margin-bottom: 0;
}   



/* ==========================================================================
   12. TABS
   ========================================================================== */
 
/*------------------------------------------*/
/*	TABS NAV
/*------------------------------------------*/   

#tabs-1-1 .nav-tabs,
#tabs-3-1 .nav-tabs {
	border: none;
}

#tabs-1-1 .nav-tabs li { 
	display: block; 
	width: 100%;
	margin-bottom: 0px; 
}

.nav-tabs > li > a {
	color: #666;
	font-size: 17px;
	font-weight: 300;
	padding: 12px 25px;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ddd;
	margin-right: 3px;
}

#tabs-1-1 .nav-tabs > li > a {
	font-size: 18px;
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 20px;
	background-color: transparent;
	margin-bottom: 0;
	margin-right: 0;
	-webkit-border-radius: 0 0;
    -moz-border-radius: 0 0;
	border-radius: 0 0;
}

#tabs-3-1 .nav-tabs > li > a {
	color: #aaa;
	border: none;
	border-bottom: none;
	padding: 20px;
	background-color: transparent;
	margin-bottom: 0;
	margin-right: 15px;
	-webkit-border-radius: 0 0;
    -moz-border-radius: 0 0;
	border-radius: 0 0;
}

.nav-tabs > li > a span {
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 15px;
	display: block;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background-color: #25c6ff;
	color: #fff	;
	border-bottom: 1px solid #25c6ff;
}

#tabs-1-1 .nav-tabs > li.active > a, 
#tabs-1-1 .nav-tabs > li.active > a:hover, 
#tabs-1-1 .nav-tabs > li.active > a:focus {
	background-color: #25c6ff;
	color: #fff	;
	border: none;
	border-bottom: 1px solid #25c6ff;
}

#tabs-3-1 .nav-tabs > li.active > a, 
#tabs-3-1 .nav-tabs > li.active > a:hover, 
#tabs-3-1 .nav-tabs > li.active > a:focus {
	background-color: transparent;
	color: #25c6ff;
	border: none;
	border-bottom: none;
}

.nav-tabs > li > a:hover {
	background-color: #d5d5d5;
	color: #333;	
}

/*------------------------------------------*/
/*	TABS PANE
/*------------------------------------------*/   

.tab-content > .tab-pane {
    padding: 0;
	border: none;
	border: none;
}

#tabs-2-1 .tab-content > .tab-pane,
#tabs-3-1 .tab-content > .tab-pane {
    padding: 30px 5px 0;
}

/*------------------------------------------*/
/*	Tab Content
/*------------------------------------------*/  

blockquote {
	border-left: 3px solid #25c6ff;
}

.tab-pane .cbox-1 span {	
	font-size: 45px;
	display: block;
}

/*------------------------------------------*/
/*	Tab List
/*------------------------------------------*/  

.tab-pane-list li {
	margin-bottom: 5px;
}

.tab-pane-list span {
	font-size: 15px;
	font-weight: 500;
	margin-right: 5px;
}



/* ==========================================================================
   13. STATISTIC BANNER
   ========================================================================== */  

#statistic-1-1, #statistic-2-1, #statistic-3-1 {  
	background-image: url(../images/statistic-dark.jpg);
}   
   
#statistic-1-2, #statistic-2-2, #statistic-3-2 {  
	background-image: url(../images/statistic-light.jpg);
}

#statistic-1-3, #statistic-2-3 { 
	background-image: url(../images/world-map-transparent.png);
}

/*------------------------------------------*/
/*	  Statistic Block Content
/*------------------------------------------*/

.statistic-block span {	
	font-size: 50px;
	line-height: 50px;
	display: block;
	margin-bottom: 15px;
}

.statistic-number {
	font-size: 70px;
	line-height: 70px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

#statistic-3-1 .statistic-number,
#statistic-3-2 .statistic-number {
	font-size: 45px;
	line-height: 45px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 0;
	margin-bottom: 10px;
}

#content-11-1 .statistic-number {
	font-size: 50px;
	line-height: 50px;
}

.statistic-block p {
	font-size: 17px;
	line-height: 17px;
	margin-bottom: 0;
}

#content-11-2 .statistic-block p {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
}

#statistic-2-1 .statistic-block p:after,
#statistic-2-2 .statistic-block p:after,
#statistic-2-3 .statistic-block p:after {
    display: block;
    content: "";
    height: 1px;
    width: 60px;
	background: #25c6ff;
    margin: 20px auto 0;
    position: relative;
}	

#statistic-2-3 .statistic-block p:after {
	background: #fff;
}


/* ==========================================================================
   14. PORTFOLIO
   ========================================================================== */

#portfolio-1-2 .section-title,
#portfolio-2-2 .section-title {
	margin-bottom: 40px;
}   
   
/*------------------------------------------*/
/*	  FILTER BUTTONS
/*------------------------------------------*/ 

.btn-toolbar .btn-group {
    float: none;
}

/*------------------------------------------*/
/*	   Button Settings
/*------------------------------------------*/ 

.gallery-filter .btn-group > .btn {
	background-color: #f0f0f0;
    color: #777;
	font-size: 14px;
	margin: 0 3px;
	padding: 8px 14px;
	font-weight: 700;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;	
	border: none;
	text-shadow: none;
	-webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
}

.btn-group > .btn:first-child:not(:last-child),
.btn-group > .btn:last-child:not(:first-child) {
 	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*------------------------------------------*/
/*	   Filter Button Hover
/*------------------------------------------*/ 

.gallery-filter .btn-group > .btn:hover {
	color: #fff;
	background-color: #25c6ff;
}

/*------------------------------------------*/
/*	  Filter Button Active
/*------------------------------------------*/ 

.gallery-filter .btn-group > .btn.active,
.gallery-filter .btn-group > .btn.focus {
	color: #fff;
	background-color: #25c6ff;
	box-shadow: 0 0 0 0;
	cursor: default;
}
   
/*------------------------------------------*/
/*	  PORTFOLIO IMAGES HOLDER
/*------------------------------------------*/ 

#portfolio-1-1 .portfolio-items-list,
#portfolio-1-2 .portfolio-items-list {
	padding: 0 5px;
} 

#portfolio-2-1 .portfolio-items-list,
#portfolio-2-2 .portfolio-items-list,
#portfolio-2-3 .portfolio-items-list {
	margin: 0;
	padding: 0;
}  
   
/*------------------------------------------*/
/*	  Portfolio Item
/*------------------------------------------*/ 

div.pp_default .pp_description {
    font-size: 15px;
    line-height: 15px;
}

.portfolio-item {
	position: relative;	
	padding: 0 10px;
}

#portfolio-1-2 .portfolio-item,
#portfolio-2-2 .portfolio-item,
#portfolio-2-3 .portfolio-item  {
	display: none;
    opacity: 0;
	-moz-opacity: 0; 
}

#portfolio-2-1 .portfolio-item,
#portfolio-2-2 .portfolio-item,
#portfolio-2-3 .portfolio-item {
	padding: 0;
}

.portfolio-item .hover-overlay {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.portfolio-item .hover-overlay img {
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-o-transition: all 600ms;
	transition: all 600ms;
}

/*------------------------------------------*/
/*	  Overlay Content 
/*------------------------------------------*/ 

.portfolio-item .overlay-content {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	zoom: 1;
	opacity: 0;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

/*------------------------------------------*/
/*	  Overlay Content Text
/*------------------------------------------*/ 

.portfolio-item .overlay-content h4 {
	margin-bottom: 8px;
	padding-left: 20px;
}

.portfolio-item .overlay-content p {
	padding: 0 20px;
}

/*------------------------------------------*/
/*	  Overlay Background 
/*------------------------------------------*/ 

.portfolio-item .item-overlay {
	opacity: 0;
	-moz-opacity: 0; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(10, 10, 10, 0.75);
	-moz-transition: opacity 400ms ease-out;
	-webkit-transition: opacity 400ms ease-out;
	-o-transition: opacity 400ms ease-out;
	transition: opacity 400ms ease-out;
}

/*------------------------------------------*/
/*	  Image Hover Effect 
/*------------------------------------------*/ 

.portfolio-item .hover-overlay:hover > img {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.portfolio-item .hover-overlay:hover .item-overlay {
	opacity: 1; 
	-moz-opacity: 1; 
}

.portfolio-item:hover .overlay-content {
	bottom: 10%;
	opacity: 1; 
	-moz-opacity: 1; 
}

/*------------------------------------------*/
/*	  PORTFOLIO-3 
/*------------------------------------------*/    

/*------------------------------------------*/
/*	  Screens Carousel Image 
/*------------------------------------------*/ 

.screens_carousel .item {
	margin: 0 4px;
	text-align: center;
}

.screens_carousel .item a {
	cursor: pointer;
}

/*------------------------------------------*/
/*	  SCREENS CAROUSEL NAVIGATION
/*------------------------------------------*/ 

.customNavigation a {
	width: 11px;
	height: 11px;
	display: inline-block;
	background: #444;
	border-radius: 50%;
	cursor: pointer;
}

.customNavigation a:hover {
	background: #25c6ff;
}

.customNavigation a.prev {
	margin-right: 5px;
}

/*------------------------------------------*/
/*	  Overlay Background 
/*------------------------------------------*/ 

.screens_carousel .hover-overlay {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.screens_carousel .item-overlay {
	opacity: 0;
	-moz-opacity: 0; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(10, 10, 10, 0.75);
	-moz-transition: opacity 400ms ease-out;
	-webkit-transition: opacity 400ms ease-out;
	-o-transition: opacity 400ms ease-out;
	transition: opacity 400ms ease-out;
}

/*------------------------------------------*/
/*	  Zoom Image
/*------------------------------------------*/ 

.screens_carousel .zoom-image {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;		
	z-index: 20;
	zoom: 1;
	-webkit-transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
	-o-transition: all 350ms ease-out;
	transition: all 350ms ease-out;
}

.screens_carousel .zoom-image span {
	color: #fff;
	font-size: 60px;
}

/*------------------------------------------*/
/*	  Image Hover Effect 
/*------------------------------------------*/

.screens_carousel .hover-overlay:hover .item-overlay {
	opacity: 1; 
	-moz-opacity: 1; 
}



/* ==========================================================================
   15. PRICING
   ========================================================================== */ 

#pricing-2-1, #pricing-3-1 { 
	background-image: url(../images/pricing.png);
}
   
.pricing-row .col-sm-4 {
	padding: 0 8px;
} 

#pricing-2-1 .pricing-row .col-sm-4 {
	padding: 0 15px;
}

.pricing-table {
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#pricing-2-1 .pricing-table {
	border: 1px solid #ddd;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#pricing-3-1 .pricing-table {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------*/
/*	 Table Header
/*------------------------------------------*/

.pricing-table h4 {
	padding-top: 50px;
	padding-bottom: 30px;
	margin-bottom: 0;	
} 

#pricing-2-1 .pricing-table h4 {
	font-size: 18px;
	font-weight: 700;
	padding-top: 0px;
	padding-bottom: 10px;	
}

.pricing-table h5 {
	padding-top: 40px;
	padding-bottom: 25px;
	margin-bottom: 0;	
}

.pricing-table.highlight h5 {
	padding-top: 60px;	
}

#pricing-2-1 .pricing-table span {
	font-size: 25px;
	line-height: 25px;
}

/*------------------------------------------*/
/*	 Table Price Plan
/*------------------------------------------*/

#pricing-2-1 .pricing-table .price {
	padding-top: 80px;
	padding-bottom: 10px;
}

.pricing-table .price span {
	font-size: 90px;
	line-height: 70px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -2px;
}

#pricing-2-1 .pricing-table .price span {
	font-size: 80px;
	line-height: 60px;
	font-weight: 400;
}

#pricing-3-1 .pricing-table .price span {
	font-size: 90px;
	line-height: 70px;
}

.pricing-table .price sup {
	font-size: 50px;
	font-weight: 900;
    top: -8px;
}

#pricing-2-1 .pricing-table .price sup {
	font-size: 35px;
	font-weight: 500;
    top: -30px;
}

#pricing-3-1 .pricing-table .price sup {
	font-size: 35px;
	font-weight: 700;
    top: -20px;
}

.pricing-table .price p {
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 0;
}

/*------------------------------------------*/
/*	 Table Body
/*------------------------------------------*/

.pricing-table ul.features {
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	padding: 15px 50px;
}

#pricing-3-1 .pricing-table ul.features {
	padding: 20px 50px;
}

.pricing-table ul.features li {
    padding: 8px 0;
} 

/*------------------------------------------*/
/*	 Table Button
/*------------------------------------------*/

.pricing-table .btn {
	margin: 10px 0 50px;
}

#pricing-2-1 .pricing-table .btn {
	margin: 15px 0 60px;
}

#pricing-3-1 .pricing-table .btn {
	margin: 15px 0 50px;
}

#pricing-3-1 .pricing-table.highlight .btn {
	margin: 15px 0 60px;
}

/*------------------------------------------*/
/*	 PRICING NOTICE TEXT
/*------------------------------------------*/

.pricing-notice p {
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	margin-bottom: 0;	
}

/*------------------------------------------*/
/*	SALE ITEM 
/*------------------------------------------*/  

.sale-item { 
	position: relative;
}

.sale-item h4.h4-lg {
	margin-bottom: 0;
}

.sale-item h3.h3-small {
	margin-bottom: 5px;
}

span.discont {
	color: #b5b5b5;
	text-decoration:line-through;
	margin-right: 5px;
	
}

.sale-item h3.h3-small span.add-info {
	font-weight: 400;
	font-size: 18px;
	color: #bbb;
}

.sale-badge {
	width: 70px;
	height: 111px;
	background: url(../images/sale-badge.png);
	position: absolute;
	top: -2px;
	left: 8%;
}



/* ==========================================================================
   16. TEAM
   ========================================================================== */  

#team-2-1 .team_members_wrapper,
#team-2-3 .team_members_wrapper {
	padding: 0 15px;
}

#team-2-2 .team_members_wrapper,
#team-2-4 .team_members_wrapper {
	padding: 0 5px;
}

#team-2-1 .col-md-3,
#team-2-3 .col-md-4 {
	padding: 0;
}

#team-2-2 .col-md-3,
#team-2-4 .col-md-4 {
	padding: 0 10px;
}
   
/*------------------------------------------*/
/*	  Team Member Image 
/*------------------------------------------*/   
   
.img-block {
	position: relative;
	width: 100%;
	height: 100%;
}

.img-block-wrapper-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10 ,0.75);
	opacity: 0;
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	-ms-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;
}

/*------------------------------------------*/
/*	  Team Member Social Icons 
/*------------------------------------------*/

.img-block .team-member-data {
	position: absolute;
	bottom: 10%;
	left: 5%;
	margin-top: 0;
	width: 100%;
}

#team-1-1 .img-block .social-icons, 
#team-1-2 .img-block .social-icons {
	position: absolute;
	top: 50%;
	margin-top: -9px;
	width: 100%;
}

.img-block .social-icons i {
	color: #fff;
	width: 40px;
	height: 40px;
	font-size: 18px;
    line-height: 36px !important;
	cursor: pointer;
	border: 2px solid #fff;
	text-align: center;
	margin-right: 4px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
} 

.img-block .social-icons i:hover {
	color: #444;
	background-color: #fff;
	border-color: #fff;
}

.img-block-wrapper-hover:hover {
	opacity: 1;
} 
      
/*------------------------------------------*/
/*	  Team Member Meta
/*------------------------------------------*/

.team-img-meta h4 {
	margin: 20px 0px 4px;
}

#team-2-1 .team-img-meta h4,
#team-2-2 .team-img-meta h4,
#team-2-3 .team-img-meta h4,
#team-2-4 .team-img-meta h4 {
	margin-bottom: 0px;
}

.team-img-meta h6 {
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 8px;
} 



/* ==========================================================================
   17. BANNER
   ========================================================================== */ 

#banner-1 {
	background-image: url(../images/banner-1.jpg);	
} 

#banner-2 {
	background-image: url(../images/banner-2.jpg);	
} 

#banner-3 {
	background-image: url(../images/banner-3.jpg);
}  

#banner-4 {
	background-image: url(../images/banner-4.jpg);
}

#banner-5 {
	background-image: url(../images/banner-5.jpg);
}

#banner-6 {
	background-image: url(../images/banner-6.jpg);
}

/*------------------------------------------*/
/*	  BANNER TEXT
/*------------------------------------------*/

.banner-txt h2 {
	font-size: 62px;
	line-height: 72px;
}

#banner-4 .banner-txt h2,
#banner-5 .banner-txt h2 {
	font-size: 46px;
	line-height: 56px;
}

#banner-1 .banner-txt p,
#banner-4 .banner-txt p {
	padding: 0 5%;
}

#banner-3 .banner-txt p {
	padding: 0 20%;
}



/* ==========================================================================
   18. BLOG
   ========================================================================== */  

#blog-3-1, #blog-3-2 {
	background-image: url(../images/blog.jpg);
} 

/*------------------------------------------*/
/*	  BLOG POST
/*------------------------------------------*/   
   
.blog-2-post {
	position: relative;	
}

.blog-3-post {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 50px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}

.blog-3-2-article {
	padding: 0 10px;
}

/*------------------------------------------*/
/*	  Blog Post Avatar 
/*------------------------------------------*/ 

.blog-1-post .blog-post-avatar,
.blog-2-post .blog-post-avatar {
	display: inline-block;
	float: left;
	padding-right: 10px;
}

.blog-post-avatar img {
	width: 45px;
	height: 45px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

#blog-3-1 .blog-post-avatar,
#blog-3-2 .blog-post-avatar {
	margin-top: -35px;	
}

#blog-3-1 .blog-post-avatar img,
#blog-3-2 .blog-post-avatar img {
	width: 70px;
	height: 70px;
	margin: 0 auto 5px;
	display: inline-block;
}

/*------------------------------------------*/
/*	  Blog Post Link 
/*------------------------------------------*/

.blog-post-link a {
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 5px;
	display: block;
}

.blog-2-post .blog-post-link a {
	font-size: 30px;
	line-height: 34px;
	opacity: 0.75;
	margin-bottom: 12px;
}

.blog-post-link a:hover {
	color: #25c6ff;
}

.blog-2-post .blog-post-link a:hover {
	color: #fff;
	opacity: 1;
}

/*------------------------------------------*/
/*	  Blog Post Meta 
/*------------------------------------------*/

.blog-post-author p,
#blog-3-1 .blog-post-avatar p,
#blog-3-2 .blog-post-avatar p {
	font-size: 15px;
	line-height: 15px;
	padding-top: 5px;
	margin-bottom: 0;
}

.blog-post-author span {
	font-size: 14px;
	line-height: 14px;
}

/*------------------------------------------*/
/*	  Blog Post Data
/*------------------------------------------*/

.blog-post-data span {
	margin-right: 7px;
}

.blog-post-data i {
	margin-right: 2px;
}

/*------------------------------------------*/
/*	  Overlay Background 
/*------------------------------------------*/ 

.blog-2-post {
	position: relative;	
}

.blog-2-post .hover-overlay {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.blog-2-post .hover-overlay img {
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-o-transition: all 600ms;
	transition: all 600ms;
}

.blog-2-post .blog-post-meta {
	position: absolute;
	bottom: 10%;
	left: 0;
	z-index: 20;
	width: 100%;
	padding: 0 20% 0 5%;
	zoom: 1;
}

.blog-2-post .item-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(10, 10, 10, 0.55);
	-moz-transition: all 400ms ease-out;
	-webkit-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
}

/*------------------------------------------*/
/*	  Image Hover Effect 
/*------------------------------------------*/ 

.blog-2-post .hover-overlay:hover > img {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.blog-2-post .hover-overlay:hover .item-overlay {
	background: rgba(10, 10, 10, 0.85);
}

/*------------------------------------------*/
/*	 Blog Post Pagination
/*------------------------------------------*/

#blog-3-2 .owl-controls {
	text-align: center;	
}

#blog-3-2 .owl-pagination {
	display: inline-block;
	margin: 0 auto;
}

#blog-3-2 .owl-pagination .owl-page {
	display: inline-block;
	float: left;
	width: 15px;
	height: 5px; 
	margin-right: 4px;
	background-color: #ccc;
	border: 2px solid #ccc;
}

#blog-3-2 .owl-pagination .owl-page.active {
	background: #25c6ff;
	border-color: #25c6ff;
}



/* ==========================================================================
   19. FAQs
   ========================================================================== */  

/*------------------------------------------*/
/*	  FAQs Typography
/*------------------------------------------*/

.question h5 { 
	margin-bottom: 10px; 
}

.question p { 
	color: #555; 
}

.panel-heading h4 {
	margin-bottom: 0;
}

/*------------------------------------------*/
/*	FAQs ACCORDION 
/*------------------------------------------*/

#faqs-2-1 .panel-group .panel + .panel {
    margin-bottom: 10px;
}

#faqs-2-1 .panel-heading {
    padding: 15px;
	-webkit-transition: all 450ms;
	-moz-transition: all 450ms;
	-o-transition: all 450ms;
	transition: all 450ms;
}

#faqs-2-1 .panel-heading a {
	-webkit-transition: all 450ms;
	-moz-transition: all 450ms;
	-o-transition: all 450ms;
	transition: all 450ms;
}

#faqs-2-1 .panel-heading:hover {
    background: #222;
}

#faqs-2-1 .panel-heading:hover.panel-heading a {
    color: #fff;
}

/*------------------------------------------*/
/*	Accordion Panel Content 
/*------------------------------------------*/

#faqs-2-1 .panel-body {
	padding: 40px 20px 30px;
	border: none;
}

#faqs-2-1 .panel-heading a:focus {
	color: #222;
}



/* ==========================================================================
   20. TESTIMONIALS
   ========================================================================== */ 

#reviews-1-1, #reviews-2-1, 
#reviews-3-1, #reviews-3-2, #reviews-4-1 {
	background-image: url(../images/reviews-1.jpg);
}   
   
#reviews-1-2, #reviews-2-2,
#reviews-3-3, #reviews-3-4 {
	background-image: url(../images/reviews-2.png);
}

#reviews-1-3, #reviews-2-3 {
	background-image: url(../images/reviews-3.png);
}

#reviews-4-2 {
	background-image: url(../images/world-map-transparent.png);
}

#reviews-5-1 {
	background-image: url(../images/reviews-4.jpg);
}

#reviews-5-1 .flexslider {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 70px 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

/*------------------------------------------*/
/*	  Testimonial Message 
/*------------------------------------------*/ 

.review-3 .message-body {
	border: 1px solid #e6e6e6;
	padding: 50px 40px;
	background-color: #fff;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*------------------------------------------*/
/*	  Testimonial Message Avatar 
/*------------------------------------------*/ 

.review-1 .testimonial-avatar img,
.review-3 .testimonial-avatar img,
.review-4 .testimonial-avatar img,
.review-5 .testimonial-avatar img {
	width: 120px;
	height: 120px;
	display: inline-block;
	margin: 0 auto 20px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.review-4 .testimonial-avatar img,
.review-5 .testimonial-avatar img {
	width: 80px;
	height: 80px;
	margin: 0 auto;
}

/*------------------------------------------*/
/*	 Testimonial Message Text
/*------------------------------------------*/

.testimonial-txt p {
	font-size: 24px;
	line-height: 34px;
    padding: 10px 5% 20px;
}

.review-3 .testimonial-txt p {
	font-size: 16px;
	line-height: 25px;
    padding: 10px 0;
}

.review-4 .testimonial-txt p {
	font-size: 18px;
	line-height: 26px;
    padding: 10px 10%;
}

.review-5 .testimonial-txt p {
	font-size: 17px;
	line-height: 24px;
	padding: 0;
}

/*------------------------------------------*/
/*	 Testimonial Message Author
/*------------------------------------------*/

p.author {
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 5px;
}

.review-4 p.author,
.review-5 p.author {
	margin-bottom: 2px;
}

.reviews span {
	font-size: 16px; 
}

.customers-rating i {
	color: #f5ca04;
	padding: 0 1px;
}

/*------------------------------------------*/
/*	 Testimonial Rotator Nav
/*------------------------------------------*/

.flex-control-paging li a {
	background: rgba(90, 90, 90, 0.45);
	width: 8px;
	height: 8px;	
	border: 2px solid rgba(90, 90, 90, 0.1);
}

#reviews-1-2 .flex-control-paging li a,
#reviews-2-2 .flex-control-paging li a,
#reviews-4-2 .flex-control-paging li a {
	background: rgba(200, 200, 200, 0.45);
	border: 2px solid rgba(200, 200, 200, 0.1);
}

#reviews-1-3 .flex-control-paging li a,
#reviews-2-3 .flex-control-paging li a {
	background: rgba(150, 150, 150, 0.55);
	border: 2px solid rgba(150, 150, 150, 0.2);
}

.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background: #222;
	border: 2px solid #222;
}

#reviews-1-2 .flex-control-paging li a:hover,
#reviews-1-3 .flex-control-paging li a:hover,
#reviews-2-2 .flex-control-paging li a:hover,
#reviews-2-3 .flex-control-paging li a:hover,
#reviews-4-2 .flex-control-paging li a:hover,
#reviews-1-2 .flex-control-paging li a.flex-active,
#reviews-1-3 .flex-control-paging li a.flex-active,
#reviews-2-2 .flex-control-paging li a.flex-active,
#reviews-2-3 .flex-control-paging li a.flex-active,
#reviews-4-2 .flex-control-paging li a.flex-active {
	background: #fff;
	border: 2px solid #fff;
}

#reviews-5-1 .flex-control-nav {
    position: relative;
}



/* ==========================================================================
   21. CLIENTS
   ========================================================================== */

#clients-3-1 .clients-logo-holder {
	padding: 0 10px;
}   
   
.item, #clients-3-1 .col-sm-3 {
	padding: 0 5px;
}  

/*------------------------------------------*/
/*	 Clients Logos
/*------------------------------------------*/ 
   
.clients-logo {
	background-color: #f0f0f0;
	padding: 70px 30px;
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out
}

.clients-logo:hover {
	background-color: #ccc;
}



/* ==========================================================================
   22. NEWSLETTER
   ========================================================================== */ 

#newsletter-1, #newsletter-4 {
	background-image: url(../images/world-map-transparent.png);
} 

#newsletter-2, #newsletter-3, #newsletter-5 {
	background-image: url(../images/newsletter-grey.jpg);
} 

#newsletter-6 {
	background-image: url(../images/newsletter-dark.jpg);
} 

/*------------------------------------------*/
/*	  Newsletter Typography
/*------------------------------------------*/

.newsletter-txt h2, .newsletter-txt h4 {
	margin-bottom: 2px;
}

/*------------------------------------------*/
/*	  Newsletter Form Input
/*------------------------------------------*/

.newsletter .form-control {
	height: 54px;
	background-color: #fff;
	padding: 15px 20px;
	border: 2px solid #fff;
	border-right: none;
	box-shadow: none;
	color: #444;
	font-size: 18px;
	font-weight: 300;	
}

#newsletter-2 .form-control,
#newsletter-3 .form-control {
	border: 1px solid #aaa;	
}

#newsletter-5.newsletter .form-control,
#newsletter-6.newsletter .form-control {
	height: 48px;
	background-color: #fff;
	padding: 12px 20px;
	border: 1px solid #aaa;	
	font-size: 16px;
}

.newsletter .form-control:focus {
	border-color: #fa5454;
	outline: 0;
	box-shadow: none;
}

/*------------------------------------------*/
/*	   Newsletter Form Button
/*------------------------------------------*/

.newsletter-form .btn { 
	height: 54px;
	font-size: 16px;
	font-weight: 900;
	padding: 10px 40px; 
}

#newsletter-3 .newsletter-form .btn,
#newsletter-4 .newsletter-form .btn { 
	padding: 10px 70px; 
}

#newsletter-5 .newsletter-form .btn,
#newsletter-6 .newsletter-form .btn { 
	height: 48px;
	font-size: 15px; 
}

/*------------------------------------------*/
/*	   Newsletter Form Notification
/*------------------------------------------*/

.newsletter-form .form-notification {
	font-size: 16px;
	line-height: 16px;
	font-weight: 300;
	margin-top: 15px;
} 



/* ==========================================================================
   23. CALL TO ACTION
   ========================================================================== */ 

#call-to-action-1 {
	background-image: url(../images/call-to-action-1.jpg);
}

#call-to-action-4 {
	background-image: url(../images/world-map-transparent.png);
}

#call-to-action-5 {
	background-image: url(../images/call-to-action-6.jpg);
}

/*------------------------------------------*/
/*	  Title
/*------------------------------------------*/

#call-to-action-3 h3 {
	margin-bottom: 0;
}

#call-to-action-4 h3 {
	line-height: 52px;
	margin-bottom: 0;
}

#call-to-action-5 h2 {
	font-size: 50px;
	line-height: 50px;
	letter-spacing: -1;
	margin-bottom: 10px;
}

/*------------------------------------------*/
/*	  Button
/*------------------------------------------*/

.cta-2-btn, .cta-3-badge { 
	margin-top: 10px;
}



/* ==========================================================================
   24. GOOGLE MAP
   ========================================================================== */ 
   
/*------------------------------------------*/
/*	Google Map Settings
/*------------------------------------------*/     

#contact-map-2 .row,
#contact-map-2 .col-md-12 {
	margin: 0;
	padding: 0;
} 
   
.google-map {
    position: relative;
    padding: 0px 0px 80%;
    height: 0px;
    overflow: hidden;
}

.google-map iframe, 
.google-map object, 
.google-map embed {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
	border:0;
}

#contact-map-1 .google-map {
    padding: 0px 0px 35%;
}

#contact-map-2 .google-map {
    padding: 0px 0px 30%;
}

#contacts-4-1 .google-map,
#contacts-4-2 .google-map {
    padding: 0px 0px 50%;
}



/* ==========================================================================
   25. CONTACTS
   ========================================================================== */ 

#contacts-1-2, #contacts-1-5, #contacts-5-1, 
#contacts-6-1, #contacts-7-1, #contacts-1-9 {
	background-image: url(../images/contacts.jpg);
}

#contacts-1-3, #contacts-1-6, #contacts-2-2, 
#contacts-2-4, #contacts-3-4, #contacts-3-2, 
#contacts-4-2, #contacts-5-2, #contacts-6-2 {
	background-image: url(../images/world-map-transparent.png);
}

#contacts-7-1 .container {
	display: table;
}

#contacts-7-1 .row {
	display: table-row;
}

.contacts-7-form,
.contacts-7-txt {
    display: table-cell;
    vertical-align: top;
	float: none;
    box-sizing: border-box;
}

/*------------------------------------------*/
/*	   CONTACT BOX
/*------------------------------------------*/

.contact-box span {
	font-size: 65px;
	line-height: 65px;
	display: inline-block;
}

.contact-box p {
	margin-bottom: 0px;
}

.contact-data p {
	font-weight: 400;
	margin-bottom: 4px;
}

.contact-data span {
	margin-right: 10px;
}

.contacts-7-txt {
	padding: 60px;	
}

/*------------------------------------------*/
/*	  Contact Info Socials
/*-----------------------------------------*/

.contacts-icons {
	display: inline-block; 
	padding-left: 0;
	margin: 25px auto 0;
}

.contacts-7-txt .contacts-icons {
	margin: 5px auto 0;
}

.contacts-icons li {
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
	padding: 0;
}

a.contacts-social {
	color: #fff;
	width: 40px;
	height: 40px;
	font-size: 18px;
    line-height: 40px !important;
	text-align: center;
	margin-right: 2px;
    display: block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

/*------------------------------------------*/
/*	  CONTACT FORM
/*------------------------------------------*/

.callback-form > div {
	padding: 0;
}

.contacts-7-form {
	padding: 60px 50px;	
}

.contacts-7-form .contact-form > div { 
	padding: 0; 
}

.contacts-7-form #input-name { padding-right: 8px; }
.contacts-7-form #input-email { padding-left: 8px; }

/*------------------------------------------*/
/*	  Contact Form Input
/*------------------------------------------*/

.contact-form .form-control {
	height: 50px;
	background-color: #fff;
	border: 1px solid #aaa;
	box-shadow: 0 0 0 0;
	color: #444;
	font-size: 17px;
	font-weight: 400;
	padding: 10px 12px;
	margin-bottom: 15px;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.contacts-7-form .form-control {
	border: 1px solid #ddd;
}

.callback-form .form-control {
	height: 50px;
	background-color: #fff;
	border: 1px solid #aaa;
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 10px;
	box-shadow: 0 0 0 0;	
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*------------------------------------------*/
/*	  Contact Form Textarea
/*------------------------------------------*/

textarea { min-height: 160px; }

/*------------------------------------------*/
/*	  Contact Form Placeholder
/*------------------------------------------*/

.contact-form .form-control::-moz-placeholder,
.callback-form .form-control::-moz-placeholder { color: #aaa; } 
.contact-form .form-control:-ms-input-placeholder,
.callback-form .form-control:-ms-input-placeholder { color: #aaa; }
.contact-form .form-control::-webkit-input-placeholder,
.callback-form .form-control::-webkit-input-placeholder { color: #aaa; }

/*------------------------------------------*/
/*	  Contact Form Input Focus
/*------------------------------------------*/

.callback-form .form-control:focus,
.contact-form .form-control:focus {
    outline: 0px none;
    box-shadow: none;
}

/*------------------------------------------*/
/*	  Contact Form Button
/*------------------------------------------*/

.callback-form-btn {
	padding: 0 15px;
	margin-bottom: 20px;
}

.callback-form-btn .btn {
	width: 100%;
	font-size: 15px;
	display: block;
	margin-top: 10px;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;	
}

/*------------------------------------------*/
/*	  Forms Message
/*------------------------------------------*/

.contact-form-msg,
.callback-form-msg {
	margin-top: 25px;
}

.contact-form-msg .loading,
.callback-form-msg .loading {
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
}

.contact-form-msg .error,
.callback-form-msg .error {
	color: #fe4918;
	font-size: 15px;
	line-height: 15px;
	font-weight: 300;
}



/* ==========================================================================
   26. FOOTER
   ========================================================================== */   

#footer-2-1 .footer-copyright p,
#footer-2-2 .footer-copyright p {
	line-height: 40px;
}

/*------------------------------------------*/
/*	 FOOTER LINKS / SOCIALS  
/*------------------------------------------*/

.footer-icons, .footer-links, 
.footer-news, .footer-tags {
	display: inline-block; 
	padding-left: 0;
	margin: 0 auto;
}

.footer-icons li, .footer-2-links li,
.footer-2-links, .footer-news li, 
.footer-tags li {
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
	padding: 0;
}

#footer-1-1 .footer-icons li,
#footer-1-2 .footer-icons li,
#footer-1-3 .footer-icons li,
#footer-1-2 .footer-1-links li,
#footer-1-3 .footer-1-links li {
	display: block !important; 
}

.footer-tags li {
	margin: 5px 3px;
}

/*------------------------------------------*/
/*	 Footer Links / Social Icons  
/*------------------------------------------*/

.footer-contacts li, .foo-social,
.foo-1-link, .foo-news {
	color: #999;
}

.footer-contacts li:hover, .foo-social:hover,
.foo-1-link:hover, .foo-news:hover {
	color: #fff;
}

.foo-news span {
	color: #fff;
	font-size: 12px;
	display: block;
	margin-top: 3px;
}

.foo-social, .foo-1-link, .foo-news  {
	display: block;
	margin-bottom: 5px;
}

.foo-2-link {
	margin: 0 7px;
    display: block;
	text-decoration: underline;
}

.foo-tag {
	color: #999;
	background-color: #222;
	padding: 3px 8px;
	border: 1px solid #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.foo-tag:hover {
	color: #25c6ff;
}

a.foo-2-social {
	color: #fff;
	width: 40px;
	height: 40px;
	font-size: 17px;
    line-height: 40px !important;
	text-align: center;
	margin-right: 2px;
    display: block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

#footer-2-1 a.foo-2-social, 
#footer-2-1 a.foo-2-social {
	background-color: #333;
	color: #ccc;
}

#footer-2-2 a.foo-2-social {
	background-color: #ddd;
	color: #444;
}

.footer-contacts li i {	
	color: #999;
	width: 20px;
	height: 20px;
	font-size: 18px;
	line-height: 20px;
	float: left;	
}

.foo-social i {	
	margin-right: 12px;
} 

.footer-contacts p {	
	color: #999;
	padding-left: 30px;	
}

/*------------------------------------------*/
/*	 Footer Social Icons Hover 
/*------------------------------------------*/

.ico-facebook, #footer-2-1 .ico-facebook:hover, #footer-2-2 .ico-facebook:hover { background-color: #3b5998; color: #fff; }
.ico-twitter, #footer-2-1 .ico-twitter:hover, #footer-2-2 .ico-twitter:hover { background-color: #00a9ed; color: #fff; }
.ico-behance, #footer-2-1 .ico-behance:hover, #footer-2-2 .ico-behance:hover { background-color: #00a8e7; color: #fff; }
.ico-google-plus, #footer-2-1 .ico-google-plus:hover, #footer-2-1 .ico-google-plus:hover { background-color: #cd1111; color: #fff; }
.ico-linkedin, #footer-2-1 .ico-linkedin:hover, #footer-2-2 .ico-linkedin:hover { background-color: #015886; color: #fff; }
.ico-dribbble, #footer-2-1 .ico-dribbble:hover, #footer-2-2 .ico-dribbble:hover { background-color: #d92d84; color: #fff; }
.ico-instagram, #footer-2-1 .ico-instagram:hover, #footer-2-2 .ico-instagram:hover { background-color: #beb3a8; color: #fff; }
.ico-pinterest, #footer-2-1 .ico-pinterest:hover, #footer-2-2 .ico-pinterest:hover { background-color: #ac281a; color: #fff; }
.ico-dropbox, #footer-2-1 .ico-dropbox:hover, #footer-2-2 .ico-dropbox:hover { background-color: #008ad2; color: #fff; }
.ico-skype, #footer-2-1 .ico-skype:hover, #footer-2-2 .ico-skype:hover { background-color: #00a9ed; color: #fff; }
.ico-youtube, #footer-2-1 .ico-youtube:hover,  #footer-2-2 .ico-youtube:hover { background-color: #cd1b20; color: #fff; }
.ico-tumblr, #footer-2-1 .ico-tumblr:hover, #footer-2-2 .ico-tumblr:hover { background-color: #3a5976; color: #fff; }
.ico-vimeo, #footer-2-1 .ico-vimeo:hover, #footer-2-2 .ico-vimeo:hover { background-color: #00adee; color: #fff; }
.ico-flickr, #footer-2-1 .ico-flickr:hover, #footer-2-2 .ico-flickr:hover { background-color: #d2d2d2; color: #fff; }
.ico-github, #footer-2-1 .ico-github:hover, #footer-2-2 .ico-github:hover { background-color: #222; color: #fff; }
.ico-renren, #footer-2-1 .ico-renren:hover, #footer-2-2 .ico-renren:hover { background-color: #364a83; color: #fff; }
.ico-vk, #footer-2-1 .ico-vk:hover, #footer-2-2 .ico-vk:hover { background-color: #3b5998; color: #fff; }
.ico-xing, #footer-2-1 .ico-xing:hover, #footer-2-2 .ico-xing:hover { background-color: #015f5e; color: #fff; }
.ico-weibo, #footer-2-1 .ico-weibo:hover, #footer-2-2 .ico-weibo:hover { background-color: #be4443; color: #fff; }
.ico-rss, #footer-2-1 .ico-rss:hover,  #footer-2-2 .ico-rss:hover { background-color: #ff6600; color: #fff; }
.ico-digg, #footer-2-1 .ico-digg:hover, #footer-2-2 .ico-digg:hover { background-color: #222; color: #fff; }
.ico-deviantart, #footer-2-1 .ico-deviantart:hover, #footer-2-2 .ico-deviantart:hover { background-color: #57675d; color: #fff; }
.ico-envelope, #footer-2-1 .ico-envelope:hover, #footer-2-2 .ico-envelope:hover { background-color: #999; color: #fff; }
.ico-delicious, #footer-2-1 .ico-delicious:hover, #footer-2-2 .ico-delicious:hover { background-color: #0a0a0a; color: #fff; }


#footer-3-1 a.foo-2-social:hover {
	background-color: #fff;
	color: #222;
}

#footer-3-2 a.foo-2-social:hover,
#footer-3-3 a.foo-2-social:hover, 
#footer-3-4 a.foo-2-social:hover {
	background-color: #444;
	color: #fff;
}

.footer-2-links a:hover {
	color: #25c6ff;
	text-decoration: underline;
}

#footer-4-2 .footer-2-links a:hover {
	color: #fff;
}

/*------------------------------------------*/
/*	 PRE-FOOTER
/*------------------------------------------*/

.pre-footer {
	background-color: #292929;
}

/*------------------------------------------*/
/*	  FOOTER NEWSLETTER FORM
/*------------------------------------------*/

/*------------------------------------------*/
/*	  Newsletter Form Input
/*------------------------------------------*/

.pre-footer .newsletter-form .form-control {
	height: 42px;
	background-color: #292929;
	border: 1px solid #666;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	padding: 0px 20px;
	box-shadow: none;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.pre-footer .newsletter-form .form-control:focus {
	border-color: #fa5454;
	outline: 0;
	box-shadow: none;
}

/*------------------------------------------*/
/*	  Newsletter Form Button
/*------------------------------------------*/

.pre-footer .newsletter-form .btn { 
	height: 42px;	
	font-size: 20px;
	letter-spacing: 0;
	margin-top: 0; 
	padding: 0 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;	
}

.pre-footer .newsletter-form .btn span { 
	margin-left: 0px;
}

.footer-newsletter-widget .form-notification {
	font-size: 15px;
	line-height: 15px;
	font-weight: 300;
	margin-top: 15px;
	margin-bottom: 10px;
}  



/* ==========================================================================
   27. SCROLL TO TOP
   ========================================================================== */   
   
#scrollUp {
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-image: url(../images/back-to-top.png);
	background-repeat: no-repeat;
	background-position: 50% 48%;
	background-color: rgba(35, 35, 35, 0.5);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	transition: all 250ms linear;	
}

#scrollUp:hover {
	background-color: #25c6ff;
}

nav a#pull {  
    display: none;  
}


